@import url('https://fonts.googleapis.com/css2?family=Karla&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
}

body { 
    font-family: 'Roboto', sans-serif;
}


.header {
    height: auto;
    margin: 0;
    padding: 0;
}

.upper-case {
    text-transform: uppercase;
}

/* ------- Navbar Styling ------*/

.bg-dark {
    background: #5da8eb !important;
}
nav {
    width: auto;
}

.navbar-light {
    box-shadow: 0 2px 8px rgb(167, 157, 157);
}

a.nav-link {
    color: white !important;
    margin-left:50px;
}

a.nav-link:hover {
    color: orange !important;
}

.navbar-nav li.active > a {
    color:#ad9683 !important;
}

#nav li {
    font-size: 14px;
    padding: 0;
    }

.nav-item {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #fafafa !important;

}

#logo {
    clear: both;
    float: left;
}


.logo {
   height: 100px;
   padding:2px 10px;
   margin:0;      
}



/* ------- Content area ---------------- */

#about-head {
    margin: 10px auto;
    text-align: center;
}

.about-col {
    font-family: 'Karla', sans-serif;
    font-weight:400;
    float: none;
    clear: both;
    width: 100%;
}
.section-sub-head {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 5px;
}
#about-head-background {
    background: #f3f8f8;
}

#about-text-background {
    background: #f3f8f8;
}

/* ---------------Home Page images ----------- */

#img-home-1 {
    height:150px;
    width: 100%;
}

.section-sub-image {
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 10px;
   }

.section-sub-image img {
    height: auto;
}

.content-text {
    font-family: "Karla", sans-serif;
    font-size: 1.1em;
    }
/* Credit: Code for scaling the image accorind to the window size was taken from https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_image_background3 
 and edited slightly to fit the project purpose */

#div-img-1 {
    width: 100%;
    height: 300px;
    background-image: url("../images/wash1-1a.jpg");
    background-size: cover;   
}

/* Credit: Code for scaling the image accorind to the window size was taken from https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_image_background3 
 and edited slightly to fit the project purpose */

#div-img-2 {
    width: 100%;
    height: 300px;
     background-image: url("../images/in-wipe.jpg");
    background-size: cover;   
}

/* Credit: Code for scaling the image accorind to the window size was taken from https://www.w3schools.com/css/tryit.asp?filename=tryresponsive_image_background3 
 and edited slightly to fit the project purpose */

#div-img-3 {
    width: 100%;
    height: 300px;
     background-image: url("../images/wash1-3a.jpg");
    background-size: cover; 
}

/*  Footer section ------------ */

.footer-section {
    margin-top: 5px;
}

.footer-style {
    padding-top: 10px;
    background: #4eb4f3;
    font-family: Karla;
    color:whitesmoke;
    font-weight: 300;
}

.open-hours {
    margin:0;
    padding:0, 10px;
}

.open-hours p {
    margin: 0;
}

.pay-method {
    text-transform: uppercase ;
}

.social-media {
    padding-bottom: 5px;
    font-size: 1.5em;
}

/* Credit: Code for socil media icons was taken from Code Institute's lesson 
   module - Resume Project (https://learn.codeinstitute.net) and edited slightly
   to fit the project purpose */

.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 10px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
    color: #303bce;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;  /* for mozila browser */ 
    -webkit-transition: all 0.35s ease-in-out; /* fro webkit browsers */ 
    -o-transition: all 0.35s ease-in-out; /* for opera */
}

.social-media li a i:hover {
    color: #ebaa33;
}

/* ------------------ Service Page stylling--------- */

.serv-price-details {
    margin-top:50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    float: left;
}

.serv-price-details h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto",sans-serif;
    text-align: center;
}

.serv-price-details ui,li {
    font-family: "Karla", sans-serif;
    text-align: center;
    list-style-type: none;
}

#currency-sign {
    font-weight: 300;
}
/* -----------------------Media Queries---- */

@media(min-width: 992px) {
    .center-form {
        padding-top: 30px;
        min-height: 240px;
        margin: 0 auto;
        max-width: 50%;
    }
}


 
