@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Roboto&display=swap');

.selector-for-some-widget {
  box-sizing: content-box;
}

div#home-pic1 {
    position: relative;
    widows: 50%;
    height: 50%;
}